<header>
    <nav>
        <a href="/">AnimeList</a>
    </nav>
    <ul>
        <li><a href="/authors">authors</a></li>
        <li><a href="/authors/new">new author</a></li>
    </ul>
</header>    
    
    
    